
html,
body {
	height: 100%;
	width: 100%;
}
body {
	font-size:11px;
}
hr {
	border-color: #FFFF;
	border-width: 2px;
	max-width: 100%;
	opacity:0.5;
	margin-top:20px;
	margin-bottom:20px;
}

a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #F05F40;
}
a:hover,
a:focus {
	color: #eb3812;
}

.hidden {
	display:none;
}

select,
select option {
 	color:#000 !important;
	width:auto;
	max-width:90%;
}
.title{ font-size:12px;}

.wi {font-size:30px;}
.wi.wi-rain {margin-top:0px;}
.fa {font-size:30px;}
.fa.fa-small {font-size:20px;}
.fa.fa-thermometer-half {margin-left:8px;}
.fa.fa-desktop {margin-top:5px;}
.fa.fa-fire {margin-top:5px;}
.fa.fa-plug {margin-top:5px;}
.containshorizon .fa { margin-top:8px; }
.containsnzbget .fa { margin-top:8px; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	margin-top:-8px;
}

h1 {
	font-size:35px;
}

h3 {
	margin-bottom:15px;
	margin-top:0px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.no-padding {
  padding: 0;
}
.no-padding-lr {
  padding-left:0;
	padding-right:0;
}
.no-pr {
	padding-right:0;
}
.mb {
	margin-bottom:15px;
}
.slider {
	margin-top:10px;
}
.ui-widget.ui-widget-content {
	background-color: #aaa;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	
	    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-left: -4px;
}
.transbg {padding:20px;background-color: rgba(0, 0, 0, .2);overflow:hidden;}
.ml {margin-left:10px;}
.mr {margin-right:10px;}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

img.icon {
	width:90%;
	max-width:30px;
}
.modal-dialog {
    min-width: 80% !important;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: white;
}
header .header-content {
  position: relative;
  padding: 15px 15px 50px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}


@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
}


#weatherfull {
	color: #444;
	text-align: left;
	text-shadow: none;
}

#weatherfull li div {
	text-align: center;
	color:#fff;
}
#weatherfull li div.day {
	margin-top: 10px;
	font-weight: 300;
	font-size:13px;
}
#weatherfull li div.temp span { float:none; display:inline-block; }
#weatherfull li div.temp { font-size: 28px; font-weight:400; }
#weatherfull li div.temp .nightT { display:block;font-size:22px; opacity:.7; padding-bottom: 10px}

#weatherfull li div.icon {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 10px auto;
}
#weatherfull li div.icon i { color:#fff !important; }

#weatherfull i {
	font-size:50px !important;
	margin:5px auto 0 auto;
	opacity:.9;
}

#weatherfull ul {
	overflow: hidden;
	padding-left:0px;
}

#weatherfull li {
	background-color: rgba(0, 0, 0, .2);
	display: block;
	float: left;
	margin-right: 15px;
	padding: 5px;
	text-align: left;
	width: calc(25% - 12px);
	height: 100%;
	color:#fff;
}
#weatherfull li:last-child{
	margin-right: 0px;
}
.section-heading {
  margin-top: 0;
}

.text-primary {
  color: #F05F40;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}
.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
	padding:0px 5px 0px 5px;
	font-size:10px;
	margin-right:5px;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
